<h1 dialog-title>Create new user</h1>
<div md-dialog-content>
<form class="example-form">
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="username" [(ngModel)]="newUser.userName" #name="ngModel" required mdInput placeholder="Username" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="password" [(ngModel)]="newUser.password" #name="ngModel" required mdInput placeholder="Password" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="firstname" [(ngModel)]="newUser.firstName" #description="ngModel" required mdInput placeholder="First name" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="lastname" [(ngModel)]="newUser.lastName" #name="ngModel" required mdInput placeholder="Last name" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="email" [(ngModel)]="newUser.email" #name="ngModel" required mdInput placeholder="Email" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="birthdate" [(ngModel)]="newUser.birthdate" #name="ngModel" required mdInput placeholder="Birthdate" />
	</md-input-container>
	<md-input-container class="example-full-width">
	    <input type="text" class="form-control" name="country" [(ngModel)]="newUser.country" #genres="ngModel" required mdInput placeholder="Country" />
	</md-input-container>
</form>
</div>
<div md-dialog-actions align="end">
	<button md-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="primary" (click)="createUser()">Create</button>
</div>