<h1 md-dialog-title>Update User</h1>
<div md-dialog-content>
<form class="example-form">
	<table class="example-full-width" cellspacing="0"><tr>
		<td><md-input-container class="example-full-width">
			<input type="text" class="form-control" name="firstname" [(ngModel)]="currentUser.firstName" #description="ngModel" required mdInput placeholder="First name" />
		</md-input-container></td>
		<td><md-input-container class="example-full-width">
			<input type="text" class="form-control" name="lastname" [(ngModel)]="currentUser.lastName" #name="ngModel" required mdInput placeholder="Last name" />
		</md-input-container></td>
	</tr></table>

	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="email" [(ngModel)]="currentUser.email" #name="ngModel" required mdInput placeholder="Email" />
	</md-input-container>

	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="username" [(ngModel)]="currentUser.userName" #name="ngModel" required mdInput placeholder="Username" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="password" [(ngModel)]="currentUser.password" #name="ngModel" required mdInput placeholder="Password" />
	</md-input-container>
	
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="birthdate" [(ngModel)]="currentUser.birthdate" #name="ngModel" required mdInput placeholder="Birthdate" />
	</md-input-container>
	<md-input-container class="example-full-width">
	    <input type="text" class="form-control" name="country" [(ngModel)]="currentUser.country" #genres="ngModel" required mdInput placeholder="Country" />
	</md-input-container>
</form>
</div>
<div md-dialog-actions align="end">
	<button md-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="primary" (click)="updateUser()">Update</button>
</div>
<hr>
<h1 md-dialog-title>Delete User</h1>
<div md-dialog-content>

	 <md-icon class="warning">warning</md-icon>
	 Danger zone: The following button will delete the user permanently.
</div>
<div md-dialog-actions align="end">
	<button md-button app-user-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="warn" (click)="deleteUser()">Delete</button>
</div>