<div class="mdl-grid">
  <div>
    <md-select placeholder='Column' [(ngModel)]="selectedColumn">
      <md-option *ngFor='let column of columns' [value]='column.name'>
        {{ column.name }}
      </md-option>
    </md-select>
    <md-input-container>
      <input mdInput type='text'
             placeholder='Type to filter by name'
             (keyup)='updateFilter(selectedColumn, $event)' />
    </md-input-container>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--1-col">
    <button md-raised-button color="primary" (click)='createArtist($event)'><md-icon>add</md-icon>New artist</button>
  </div>
</div>

<ngx-datatable
  class='material'
  [rows]="artists"
  [columnMode]="'force'"
  [columns]="columns"
  [headerHeight]="'auto'"
  [footerHeight]="'auto'"
  [rowHeight]="'auto'"
  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'
  [limit]="10"
  >
</ngx-datatable>