<h1 dialog-title>Create new artist</h1>
<div md-dialog-content>
<form class="example-form">
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="Name" [(ngModel)]="newArtist.name" #name="ngModel" required mdInput placeholder="Name" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="Description" [(ngModel)]="newArtist.description" #name="ngModel" required mdInput placeholder="Description" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="Images" [(ngModel)]="newArtist.image" #name="ngModel" required mdInput placeholder="Images" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<div mdTooltip="Different genres must be separated by commas!" mdTooltipPosition="below">
			<input type="text" class="form-control" name="Genres" [(ngModel)]="newArtist.genres" #name="ngModel" required mdInput placeholder="Genres" />
		</div>
	</md-input-container>
</form>
</div>
<div md-dialog-actions align="end">
	<button md-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="primary" (click)="createArtist()">Create</button>
</div>