<h1 md-dialog-title>Update Artist</h1>
<form>
	<md-input-container>
		<input type="text" class="form-control" name="Name" [(ngModel)]="currentArtist.name" #name="ngModel" required mdInput placeholder="Name" />
	</md-input-container>
	<md-input-container>
		<input type="text" class="form-control" name="Description" [(ngModel)]="currentArtist.description" #name="ngModel" required mdInput placeholder="Description" />
	</md-input-container>
</form>
<div md-dialog-actions>
	<button md-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="primary" (click)="updateArtist()">Update</button>
</div>

<h1 md-dialog-title>Delete Artist</h1>
<div md-dialog-actions>
	<button md-raised-button color="warn" (click)="deleteArtist()">Delete</button>
</div>