<h1 md-dialog-title>
	Update Artist
	<span class="app-artist-dialog-filler"></span>
	<button md-raised-button color="warn" (click)="deleteArtist()">Delete</button>
</h1>

<form>
	<md-input-container>
		<input type="text" class="form-control" name="Name" [(ngModel)]="currentArtist.name" #name="ngModel" required mdInput placeholder="Name" />
	</md-input-container>
	<md-input-container>
		<input type="text" class="form-control" name="Description" [(ngModel)]="currentArtist.description" #name="ngModel" required mdInput placeholder="Description" />
	</md-input-container>
</form>
<div md-dialog-actions>
	<button md-button app-artist-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button app-artist-button color="primary" (click)="updateArtist()">Update</button>
</div>