<h1 md-dialog-title>Create new track</h1>
<div md-dialog-content>
<form class="example-form">
	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="Name" [(ngModel)]="newTrack.name" #name="ngModel" required mdInput placeholder="Name" />
	</md-input-container>

	<button md-raised-button>
		<label for="fileToUpload">Choose track file</label>
	</button>
	<md-input-container>
		<input mdInput type="text" required placeholder="File"
			   value='{{ selectedFileName }}' [readonly]="true"/>
		<input type="file" id="fileToUpload" (change)="fileUpload($event)" style="display:none;">
	</md-input-container>

	<md-input-container class="example-full-width">
		<input type="text" class="form-control" name="AlbumId" [(ngModel)]="newTrack.albumId" #description="ngModel" required mdInput placeholder="Album Id" />
	</md-input-container>
	<md-input-container class="example-full-width">
		<div mdTooltip="Different artist ids must be separated by commas!" mdTooltipPosition="below">
			<input type="text" class="form-control" name="ArtistsIds" [(ngModel)]="newTrack.artists" #name="ngModel" required mdInput placeholder="Artists Ids" />
		</div>
	</md-input-container>
</form>
</div>
<div md-dialog-actions align="end">
	<button md-button (click)="dialogRef.close()">Cancel</button>
	<button md-raised-button color="primary" (click)="createTrack()">Create</button>
</div>