 <md-toolbar color="primary">
  <span [routerLink]="['/']">Fort Media Player: Admin Panel</span>
  <span class="app-toolbar-filler"></span>
  <md-icon class="app-icon" [routerLink]="['/login']">power_settings_new</md-icon>
 </md-toolbar>

<!-- main app container -->
<div>
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <img alt="Fort Media Player" src="../resources/fmp-icon.png">
        <a href="https://github.com/tallerify" target="_top">Tallerify</a>
    </p>
</div>