<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <p class="navbar-text">Fort Media Player: Admin Panel</p>

        <div id="navbar7" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <img alt="Fort Media Player" src="../resources/fmp-icon.png">
        <a href="https://github.com/tallerify" target="_top">Tallerify</a>
    </p>
</div>