 <md-toolbar color="primary">
  <span [routerLink]="['/']">Fort Media Player: Admin Panel</span>
  <span class="app-toolbar-filler"></span>
  <md-icon class="app-icon" [routerLink]="['/artists']">headset</md-icon>
  <button class="app-icon" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>account_circle</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
     <a md-menu-item [routerLink]="['/login']">
       <md-icon>power_settings_new</md-icon>
       <span>Logout</span>
     </a>
  </md-menu>
 </md-toolbar>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <img alt="Fort Media Player" src="../resources/fmp-icon.png">
        <a href="https://github.com/tallerify" target="_top">Tallerify</a>
    </p>
</div>