<div class="col-md-6 col-md-offset-3">
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <md-card>
      <md-card-title>Register</md-card-title>
      <md-card-content>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required mdInput placeholder="First name" />
          </md-input-container>
          <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required mdInput placeholder="Last name" />
          </md-input-container>
          <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.userName" #username="ngModel" required mdInput placeholder="Username" />
          </md-input-container>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <md-input-container>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required mdInput placeholder="Password" />
          </md-input-container>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="country" [(ngModel)]="model.country" #country="ngModel" required mdInput placeholder="Country" />
          </md-input-container>
          <div *ngIf="f.submitted && !country.valid" class="help-block">Country is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required mdInput placeholder="E-mail" />
          </md-input-container>
          <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !birthdate.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel" required mdInput placeholder="Birthday" />
          </md-input-container>
          <div *ngIf="f.submitted && !birthdate.valid" class="help-block">Birthdate is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !image.valid }">
          <md-input-container>
            <input type="text" class="form-control" name="image" [(ngModel)]="model.images" #birthdate="ngModel" required mdInput placeholder="Image" />
          </md-input-container>
          <div *ngIf="f.submitted && !image.valid" class="help-block">Image is required</div>
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary">Register</button>
        <a md-button [routerLink]="['/login']">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>